<!DOCTYPE html>
<html>
<body>

<h2>Add Hosts</h2>

<form action="/add"  method="post">
  <label for="hn">Hostname:</label><br>
  <input type="text" id="hn" name="hn" value="" placeholder="Hostname"><br>
  <label for="ip">IP:</label><br>
  <input type="text" id="ip" name="ip" value="" placeholder="IP address (i.e. 12.13.14.15)"><br><br>
    <label for="fqdn">FQDN:</label><br>
  <input type="text" id="fqdn" name="fqdn" value="" placeholder="FQDN (i.e. myhost.mydomain.com)"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>
