<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Question Of The Day</title>
    <form action = "/answer" method = "POST">

        <p>How many licks does it take to get to the center of a tootsie pop?:</p>
  <input type="radio" id="a1" name="t1" value="1">
  <label for="a1">1</label><br>
  <input type="radio" id="a2" name="t1" value="2">
  <label for="a2">2</label><br>
  <input type="radio" id="a3" name="t1" value="3">
  <label for="a3">3</label><br/>
  <input type="radio" id="noa" name="t1" value="4">
  <label for="noa">None Of The Above</label><br />
   <input type="submit" value="submit" />
    </form>
</head>
<body>

</body>
</html>